body {
    font-family: 'Montserrat', sans-serif;
    background: url('blur-blurred.jpg');
    background-size: cover;
}

header h1 {
    font-size: 2em;
    color: azure;
    text-align: center;

}

h1{
    display: fixed;
    font-size: 5.7em;
    color: #f5f5f5;
    opacity: .4;
}

div {
    position: relative;
    top: -100px;
    font-size: 1.3em;
    width: 50%;
    line-height: 40px;
    margin-left: 20px;

}

div p {
    color: darkslategrey;
}

nav {
    
}

nav p{
    display: inline-block;
    background-color: crimson;
    padding: 8px 12px;
    border-radius: 2px;
    transition: all .3s ease-in-out
}
nav p:hover{
    box-shadow: 0 10px 18px -7px rgba(0, 0, 0, .33);
    background-color: powderblue;
}

nav p a{
    text-decoration: none;
    color: darkslategray;
}
nav p a:visited{
    color: darkslategray;
}