body {
    font-family: 'Montserrat', sans-serif;
    background: url('blur-blurred.jpg');
    background-size: cover;
}

header h1 {
    font-size: 1.2em;
    color: azure;
    text-align: center;

}

#text-content h1{
    display: fixed;
    font-size: 3.7em;
    color: #f5f5f5;
    opacity: .4;
}

#text-content {
    position: relative;
    font-size: 1.3em;
    width: 50%;
    line-height: 40px;
    margin-left: 20px;

}

#text-content p {
    color: #3ffff6;
    position: relative;
    top: -66px;
    left: -500px;
    animation: slideIn 1s ease-in-out 1s forwards;
    padding-left: 35px
}


nav ul li{
    display: inline-block;
    background-color: crimson;
    padding: 8px 12px;
    border-radius: 2px;
    transition: all .3s ease-in-out
}
nav ul li:hover{
    box-shadow: 0 10px 18px -7px rgba(0, 0, 0, .33);
    background-color: #3ffff6;
}

nav ul li a{
    text-decoration: none;
    color: darkslategray;
}
nav ul li a:visited{
    color: darkslategray;
}

@keyframes slideIn {
    from {
        left: -600px;
    }
    to{
        left: 0;
    }

}